workflows/TEMPLATES PRONTOS/PAGOS/Disparo em massa (n8n)/disparadorwhatsapp.json
{
  "name": "1- Disparador",
  "nodes": [
    {
      "parameters": {
        "content": "",
        "height": 800,
        "width": 3223,
        "color": 4
      },
      "id": "491beda8-9a0a-4233-928e-fe796108932a",
      "name": "Sticky Note30",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        -16
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        560
      ],
      "id": "72fed0a3-eec3-497d-9b7a-31dcb3ce5d57",
      "name": "4.1 mini",
      "credentials": {
        "openAiApi": {
          "id": "LddDKTuP5h0yVWPU",
          "name": "OpenAI | Afonso"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1f8R29irTJY_DpQePkSPNc7aRg2DD4dj_4mmHxaJ8jXg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Contatos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f8R29irTJY_DpQePkSPNc7aRg2DD4dj_4mmHxaJ8jXg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ENVIOU MSG"
            }
          ]
        },
        "options": {}
      },
      "id": "b660907c-feda-4641-bf7c-b4b517b1e1d9",
      "name": "PlanilhaContatos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        352
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BR3AP2KWupgSkFmW",
          "name": "Google Sheets | HermesMind"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a4e387e-525c-4df4-ae40-fe471e982694",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "0b2319c5-6248-47ab-b57e-c0ca5301c31c",
              "name": "Nome",
              "value": "=Nome do lead: {{ $json.NOME }}",
              "type": "string"
            },
            {
              "id": "303344b5-b9b3-4e97-9018-4ae7c29ec715",
              "name": "Whatsapp",
              "value": "={{ $json.WHATSAPP }}",
              "type": "number"
            },
            {
              "id": "00bd2701-a9b7-4473-9519-dab4bf4aedd7",
              "name": "PROCEDIMENTO DE INTERESSE",
              "value": "=Procedimento de interesse: {{ $json['PROCEDIMENTO DE INTERESSE'] }}",
              "type": "string"
            },
            {
              "id": "0b6e8083-747a-45a8-aa38-a3932acd6252",
              "name": "DATA DO CADASTRO",
              "value": "={{ $json['DATA DO CADASTRO'] }}",
              "type": "string"
            },
            {
              "id": "384eb495-bfcb-455c-9e8d-8b8f47b1959d",
              "name": "identificadorUser",
              "value": "={{ $json.WHATSAPP }}@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "2ae94f07-27f1-496a-9cf5-108f85322568",
              "name": "apiUzapi",
              "value": "sasas",
              "type": "string"
            },
            {
              "id": "257a1f5a-b64e-431d-b395-81f0d890a8db",
              "name": "sessionKeyUzapi",
              "value": "sasa",
              "type": "string"
            },
            {
              "id": "5679f8fa-efd2-4547-9bcb-6a76022d6bd6",
              "name": "TempoMsg",
              "value": "={{ $json.TempoMsg }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        352
      ],
      "id": "3ca926f7-c9a7-4c2b-8783-67a0d83c1045",
      "name": "setarInfo"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.identificadorUser }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1392,
        560
      ],
      "id": "8a5977af-ed44-493d-abd3-4582538ba08c",
      "name": "memoria",
      "credentials": {
        "postgres": {
          "id": "6ZyqYAF7tGQrMHBP",
          "name": "Postgres | Tabela teste"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1008,
        352
      ],
      "id": "6a59563e-7c89-4a54-b0fb-b86e69809733",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Alguns dados sobre o lead para te ajudar a criar a mensagem:\n\n{{ $json.Nome }}\n{{ $json['PROCEDIMENTO DE INTERESSE'] }}\n",
        "options": {
          "systemMessage": "=Data e hora atual: {{ $now }}\n\n## IDENTIDADE\nVocê é **Juliana**, secretária de atendimento da Clínica **BellaVita Estética**.  \nVocê se apresenta como uma pessoa real, nunca como IA.\n\n## SUA FUNÇÃO\nIniciar conversas com potenciais clientes que já demonstraram interesse nos serviços da clínica, sempre despertando curiosidade e incentivando resposta imediata.\n\n## TOM DE VOZ\n- Humanizado, simpático e acolhedor, transmitindo proximidade.\n- Persuasivo, sempre conduzindo a conversa para resposta positiva.\n- Usar gatilhos de **curiosidade, desejo e oportunidade** para gerar interesse imediato.\n- Utilizar **emojis moderadamente**, apenas para reforçar emoção ou proximidade.\n\n## REGRAS DE MENSAGEM\n- Sempre se apresentar como **Juliana**, da **Clínica Bela Vida Estética**.\n- Sempre usar apenas o **primeiro nome** do lead, mesmo que venha o nome completo.\n- Destacar que a pessoa já entrou em contato com a clínica **alguns dias atrás**.\n- Utilizar o **procedimento de interesse** informado no cadastro dentro da mensagem.\n- Trazer uma **conexão emocional** com o procedimento, mostrando o benefício ou transformação desejada.\n- Incluir o **procedimento de interesse** informado no cadastro dentro da mensagem.\n- A mensagem deve transmitir exclusividade e confiança, valorizando a profissional, a tecnologia ou o diferencial da clínica.\n- Deve ter um tom **emocional e persuasivo**, mostrando a transformação ou benefício do procedimento.\n- Para manter o texto bem formatado no WhatsApp, utilize **quebra de parágrafo dupla** entre cada trecho da mensagem.\n- Sempre terminar com uma **pergunta forte, clara e direta**, que:\n    -   Seja curta (1 linha).\n    -   Toque no emocional (autoestima, confiança, realização, desejo de transformação).\n    -   Induza uma resposta afirmativa (“sim”).\n    \n### EXEMPLOS DE MENSAGENS\n**Modelo 1**\nOlá Carolina, tudo bem? Eu me chamo Juliana, sou da Clínica Bela Vida Estética 💖  \n\nAlguns dias atrás você falou com a gente sobre Botox.  \n\nAqui, esse procedimento é feito com materiais de alta qualidade e aplicação cuidadosa pela nossa especialista.  \n\nVocê gostaria de sentir a confiança de olhar no espelho e ver seu rosto rejuvenescido já nas primeiras semanas?\n\n**Modelo 2**\nOi Fernanda, como vai? Aqui é a Juliana da Bela Vida Estética 🌸  \n\nNotei que você demonstrou interesse em limpeza de pele há alguns dias.  \n\nNós utilizamos protocolos exclusivos que renovam profundamente a pele e realçam a luminosidade natural.  \n\nVocê gostaria de sentir essa transformação no seu rosto e receber elogios já depois da primeira sessão?\n\n**Modelo 3**\nOie Tatiane, tudo bom com você? Sou a Juliana da Bela Vida Estética...\n\nVi que você se interessou em preenchimento labial recentemente.  \n\nNa Bela Vida, o procedimento é feito por profissional especializada, com técnica natural que realça a beleza sem exageros.  \n\nVocê gostaria de ver seus lábios mais harmoniosos e sentir a autoestima lá em cima cada vez que sorrir?\n\n**Modelo 4**\nOi Juliana, tudo certo? Aqui é a Juliana da Clínica Bela Vida Estética ✨  \n\nHá alguns dias você buscou informações sobre depilação a laser.  \n\nAqui usamos equipamento de última geração que garante resultados rápidos e praticamente indolores.  \n\nVocê gostaria de conquistar a liberdade de nunca mais se preocupar com pelos e se sentir confiante em qualquer ocasião?\n\n**Modelo 5**\nOlá Amanda, tudo bem? Eu me chamo Juliana e sou Bela Vida Estética 🌷  \n\nPercebi que você mostrou interesse em criolipólise recentemente.  \n\nNa nossa clínica, utilizamos tecnologia avançada que modela o corpo de forma segura e eficaz, sempre acompanhada por profissional experiente.  \n\nVocê gostaria de ver sua silhueta transformada e sentir o orgulho de conquistar o corpo que deseja?"
        }
      },
      "id": "9b8be521-3f73-4fcd-a165-cc75c2deb49a",
      "name": "Conversa",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1328,
        352
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1f8R29irTJY_DpQePkSPNc7aRg2DD4dj_4mmHxaJ8jXg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Contatos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f8R29irTJY_DpQePkSPNc7aRg2DD4dj_4mmHxaJ8jXg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WHATSAPP": "={{ $('setarInfo').item.json.Whatsapp }}",
            "TempoMsg": "={{ $('gerarTempo').item.json.delaySeconds }}",
            "ENVIOU MSG": "FEITO",
            "DATA DO ENVIO": "={{ $now.format('dd/MM/yyyy') }}",
            "row_number": "={{ $('PlanilhaContatos').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PROCEDIMENTO DE INTERESSE",
              "displayName": "PROCEDIMENTO DE INTERESSE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TempoMsg",
              "displayName": "TempoMsg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ENVIOU MSG",
              "displayName": "ENVIOU MSG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA DO ENVIO",
              "displayName": "DATA DO ENVIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4ca992b3-8476-4d9a-9496-5077ebc79809",
      "name": "atualizarPlanilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2768,
        528
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BR3AP2KWupgSkFmW",
          "name": "Google Sheets | HermesMind"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('setarInfo').item.json.apiUzapi }}/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "sessionkey",
              "value": "={{ $('setarInfo').item.json.sessionKeyUzapi }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "{{session}}"
            },
            {
              "name": "number",
              "value": "=+{{ $('setarInfo').item.json.Whatsapp }}"
            },
            {
              "name": "text",
              "value": "={{ $('Conversa').item.json.output }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2288,
        352
      ],
      "id": "a4dacee7-988a-49d6-be49-a91a8858a2bb",
      "name": "enviarMsg",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Intervalo em MINUTOS\nconst MIN_MINUTES = 2;  // 2 min\nconst MAX_MINUTES = 10; // 10 min\n\n// Último delay em segundos vindo do node \"setarInfo\"\nconst prev = Number($items('setarInfo')[0]?.json?.TempoMsg);\n\n// Gera um número aleatório entre min e max (minutos inteiros)\nfunction randInt(min, max) {\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nfunction pickDelay(minM, maxM, prevSec) {\n  let tries = 0;\n  let seconds;\n  do {\n    const minutes = randInt(minM, maxM); // inteiro em minutos\n    seconds = minutes * 60;              // converte pra segundos (múltiplo de 60)\n    tries++;\n  } while (Number.isFinite(prevSec) && seconds === prevSec && tries < 50);\n\n  // Se por acaso ainda sair igual ao anterior, ajusta forçado pra +60 ou -60\n  if (Number.isFinite(prevSec) && seconds === prevSec) {\n    const up = prevSec + 60;\n    const down = prevSec - 60;\n    const minSec = MIN_MINUTES * 60;\n    const maxSec = MAX_MINUTES * 60;\n    if (up <= maxSec) seconds = up;\n    else if (down >= minSec) seconds = down;\n  }\n  return seconds;\n}\n\nconst delaySeconds = pickDelay(MIN_MINUTES, MAX_MINUTES, prev);\n\n// Saída crua em segundos (ex: 180, 240, …, 600)\nreturn [{ json: { delaySeconds } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        400
      ],
      "id": "a7cb72ca-ae53-4197-941f-6d50e3c021cd",
      "name": "gerarTempo"
    },
    {
      "parameters": {
        "amount": "={{ $json.delaySeconds }}"
      },
      "id": "c4865e3e-b3a3-49d8-9fe9-dc846a193817",
      "name": "esperar",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1984,
        400
      ],
      "webhookId": "78f1c2c3-6305-4095-9a10-04987b76a7b8"
    },
    {
      "parameters": {
        "content": "# Executa todos os dias, às 19hrs e às 21hrs em ponto.",
        "height": 576,
        "width": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        128
      ],
      "typeVersion": 1,
      "id": "6a76c85b-c40b-460f-9871-ac9b4b59160a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 19-22/2 * * *"
            }
          ]
        }
      },
      "id": "1511c538-4ac9-4435-88d4-cdc123685289",
      "name": "Executar",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        352
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        560
      ],
      "id": "2af08368-3dbe-4a65-8547-0616b8feb9d8",
      "name": "manual"
    },
    {
      "parameters": {
        "content": "# Pega os contatos da lista e seta as informações dele",
        "height": 576,
        "width": 560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        128
      ],
      "typeVersion": 1,
      "id": "e6962e97-c93f-4bb5-8f08-32bc0ee51e75",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# DISPARO",
        "height": 80,
        "width": 199,
        "color": 4
      },
      "id": "8bafbdb3-a3d2-4876-9a64-a1d2ca498750",
      "name": "Sticky Note31",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1328,
        0
      ]
    },
    {
      "parameters": {
        "content": "# Envia um contato por vez para que o Agent de IA criar a mensagem personalizada",
        "height": 592,
        "width": 704,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        128
      ],
      "typeVersion": 1,
      "id": "a578769c-3b0c-4659-9cce-3bbae0cde3d7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Gera um tempo de disparo diferente do anterior em um intervalo de 2 a 10 minutos.",
        "height": 592,
        "width": 464,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        128
      ],
      "typeVersion": 1,
      "id": "43871ad4-d8af-475b-b6dc-29212189d412",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Envia a mensagem para o usuário",
        "height": 592,
        "width": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2192,
        128
      ],
      "typeVersion": 1,
      "id": "afd02144-3f17-4327-bb77-3fa26167cb07",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Atualiza a planilha com o tempo enviado e com mensagem enviada",
        "height": 592,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2576,
        128
      ],
      "typeVersion": 1,
      "id": "16c2dafc-9b4e-42c1-8044-2fa9291f9f90",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# O que fazer:\n## 1- Colocar suas credenciais\n## 2- Trocar a planilha do Google Sheets\n## 3- Colocar o token e sua URL da UZAPI no nó 'setarInfo'\n## 4- Alterar o prompt do Agente de IA para o seu segmento",
        "height": 288,
        "width": 656,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        -368
      ],
      "typeVersion": 1,
      "id": "4ecc0175-c31a-4276-b907-8d1ec327561f",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "4.1 mini": {
      "ai_languageModel": [
        [
          {
            "node": "Conversa",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PlanilhaContatos": {
      "main": [
        [
          {
            "node": "setarInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversa": {
      "main": [
        [
          {
            "node": "gerarTempo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizarPlanilha": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviarMsg": {
      "main": [
        [
          {
            "node": "atualizarPlanilha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gerarTempo": {
      "main": [
        [
          {
            "node": "esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "esperar": {
      "main": [
        [
          {
            "node": "enviarMsg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar": {
      "main": [
        [
          {
            "node": "PlanilhaContatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "manual": {
      "main": [
        [
          {
            "node": "PlanilhaContatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memoria": {
      "ai_memory": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed11a7e8-275a-4f24-be0e-739d6eb7ff97",
  "meta": {
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "Zj9gDvvDXjhUPxdb",
  "tags": [
    {
      "createdAt": "2025-09-18T15:17:42.105Z",
      "updatedAt": "2025-09-18T15:17:42.105Z",
      "id": "cR00x3WxoLFhsFkq",
      "name": "youtubeAfonso"
    }
  ]
}