workflows/TEMPLATES PRONTOS/PAGOS/Venda 3 Agentes e 1 AGENDA/1__Secretaria___Lara___Youtube.json
{
  "name": "1- Secretaria | Lara | Youtube",
  "nodes": [
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "5521979764640@s.whatsapp.net"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        140,
        120
      ],
      "id": "fc04bfe2-6eaa-4572-acbc-4c6052407fb6",
      "name": "PostCaio",
      "credentials": {
        "postgres": {
          "id": "6ZyqYAF7tGQrMHBP",
          "name": "Postgres | Tabela teste"
        }
      }
    },
    {
      "parameters": {
        "content": "# Setar os próximos  dias",
        "height": 460,
        "width": 300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        520
      ],
      "typeVersion": 1,
      "id": "dc147175-c913-4181-9e4e-529a5a62f37c",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2660,
        740
      ],
      "id": "1ace0fd8-2ad1-4517-b7ca-7bb577aa2768",
      "name": "Wait1",
      "webhookId": "e357dbec-9bf8-4c34-bc8c-e38e7ed5a25a"
    },
    {
      "parameters": {
        "content": "# Envia uma mensagem por vez para o usuário",
        "height": 560,
        "width": 1120,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        420
      ],
      "typeVersion": 1,
      "id": "1726652c-cc15-4ae9-893d-6dc0e6217b79",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "# Deletar - ADM",
        "height": 300,
        "width": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -200,
        0
      ],
      "typeVersion": 1,
      "id": "8f0f5312-7706-4e13-8bba-17a7bd11a0b6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "const days = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\nconst now = new Date();\nconst pad = (n) => String(n).padStart(2, '0');\n\nlet result = `Hoje é ${days[now.getDay()]} ${pad(now.getDate())}/${pad(now.getMonth()+1)}/${String(now.getFullYear()).slice(2)} às ${pad(now.getHours())}:${pad(now.getMinutes())}\\n`;\n\nfor (let i = 1; i <= 6; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  let label = '';\n\n  if (i === 1) {\n    label = `Amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else if (i === 2) {\n    label = `Depois de amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else {\n    label = `A próxima ${days[future.getDay()]} será dia ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  }\n\n  result += `${label}\\n`;\n}\n\nreturn [\n  {\n    json: {\n      resultado: result.trim()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        720
      ],
      "id": "32de9583-eec1-44de-892d-d3f6e1e0dd77",
      "name": "proximos_dias"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "5511971351311@s.whatsapp.net"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -80,
        120
      ],
      "id": "cfe3cea3-87e0-4998-b3de-11801038bbe6",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "6ZyqYAF7tGQrMHBP",
          "name": "Postgres | Tabela teste"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setarInfo2').item.json.msg.identicacaoLead }}",
        "contextWindowLength": 80
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        120,
        720
      ],
      "id": "636956de-78c4-40fa-9c5e-f405684e28b8",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "6ZyqYAF7tGQrMHBP",
          "name": "Postgres | Tabela teste"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "5511971351311@s.whatsapp.net"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        380,
        120
      ],
      "id": "597bbf0f-d95c-4e47-bd9c-de5b7acc420f",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "CmRroAPrkzXBWvYA",
          "name": "Redis | Upstash"
        }
      }
    },
    {
      "parameters": {
        "content": "# Quebra a resposta em várias mensagens e tira a formatação markdown",
        "height": 560,
        "width": 860,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        420
      ],
      "typeVersion": 1,
      "id": "8c9dce87-df0b-4ef9-80e6-3ec6964ae03e",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4499d032-0660-4ad4-ac0f-186022972178",
              "name": "message_agent",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        600
      ],
      "id": "6b9d2d95-8709-45ca-ac07-0ce8a69a5828",
      "name": "setarMsgAgent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1180,
        800
      ],
      "id": "9d1bb90d-2415-443f-8207-876a929245d2",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "LddDKTuP5h0yVWPU",
          "name": "OpenAI | Afonso"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Quebre a mensagem abaixo com base e regras das suas informações de sistema e tire toda a formatação markdown. Jamais faça comentários adicionais.\n\nA mensagem:\n\n{{ $('setarMsgAgent').item.json.message_agent }}",
        "options": {
          "systemMessage": "=## Quem é você\nVocê é um renomado e experiente assistente de formatação de mensagens dentro da automação do N8N. Seu objetivo é quebrar as mensagens longas em partes menores, sem alterar o conteúdo original e sem mudar nenhuma palavra sequer. Além disso, você deve remover qualquer formatação em Markdown, deixando o texto completamente limpo e sem estilos.\n\n## Sua função\nSua única função é dividir respostas longas em trechos curtos, mantendo o significado e a estrutura original do texto. Você não altera palavras, não muda sinônimos e não interpreta o conteúdo. Você apenas insire duas quebras de linha onde necessário para melhorar a fluidez da conversa.\n\n## Regras\n1- Não modifique o texto: Apenas divida as mensagens, sem alterar palavras, sinônimos ou reescrever frases.\n2- Mantenha frases completas: Nunca quebre no meio de uma palavra ou ideia. Sempre finalize a frase antes da quebra.\n3- Limite de caracteres: Divida a resposta em partes de no máximo 80 caracteres (ou outro limite que você preferir).\n4- Use duas quebras de linha. Sempre que precisar dividir uma mensagem, insira um \\n entre os trechos.\n5- Não remova formatações: Se a resposta tiver negrito, emojis ou caracteres especiais, mantenha tudo intacto.\n6- Se a mensagem estiver menos do que 80 caracteres, não divida. Apenas insira quebras se a mensagem ultrapassar o limite definido.\n7- Se a resposta tiver uma lista (bullets - ou •), cada item deve ser quebrado em uma linha separada. O restante do texto segue o critério normal de limite de caracteres.\n8- Nunca inclua mensagens ou comentário adicionais.\n9- Nunca corte o texto depois da virgula.\n10- Remova completamente qualquer formatação em Markdown, deixando o texto totalmente limpo, sem negrito, itálico, listas, cabeçalhos ou qualquer outro tipo de estilização.\n\n## Exemplos\n### Exemplo 1:\n🔹 Input:\nNosso curso preparatório para a EPCAR tem mais de 200 videoaulas, PDFs completos e simulados exclusivos. Além disso, você terá acesso ao nosso grupo VIP para tirar dúvidas diretamente com os professores. O curso é 100% online e você pode estudar no seu ritmo.\n\n🔹 Output:\nNosso curso preparatório para a EPCAR tem mais de 200 videoaulas, PDFs completos e simulados exclusivos.\\nAlém disso, você terá acesso ao nosso grupo VIP para tirar dúvidas diretamente com os professores.\\nO curso é 100% online e você pode estudar no seu ritmo.\n\n### Exemplo 2:\n🔹 Input:\nO curso preparatório da Tropa do Arcanjo para a ESPCEX é totalmente online e conta com videoaulas detalhadas, materiais de apoio em PDF e simulados atualizados. Nossos professores são especialistas em concursos militares e oferecem suporte direto aos alunos. Além disso, você terá acesso a um grupo VIP exclusivo para tirar dúvidas e interagir com outros candidatos. O curso tem duração de 12 meses, mas você pode estudar no seu próprio ritmo e reassistir às aulas quantas vezes quiser.\n\n🔹 Output:\nO curso preparatório da Tropa do Arcanjo para a ESPCEX é totalmente online e conta com videoaulas detalhadas, materiais de apoio em PDF e simulados atualizados.\\nNossos professores são especialistas em concursos militares e oferecem suporte direto aos alunos.\\nAlém disso, você terá acesso a um grupo VIP exclusivo para tirar dúvidas e interagir com outros candidatos.\\nO curso tem duração de 12 meses, mas você pode estudar no seu próprio ritmo e reassistir às aulas quantas vezes quiser.\n\n### Exemplo 3:\n🔹 Input:\n\"Para se matricular no curso preparatório da Tropa do Arcanjo, basta acessar nosso site e escolher a opção desejada. Aceitamos pagamentos via Pix, cartão de crédito (todas as bandeiras) e boleto à vista. Se precisar dividir o pagamento, é possível pagar parte via Pix e o restante no cartão de crédito. Após o pagamento, o acesso ao curso é liberado automaticamente e você já pode começar a estudar imediatamente. Se tiver qualquer dúvida ou problema com o acesso, nosso suporte está disponível para te ajudar.\"\n\n🔹 Output:\n\"Para se matricular no curso preparatório da Tropa do Arcanjo, basta acessar nosso site e escolher a opção desejada.\\nAceitamos pagamentos via Pix, cartão de crédito (todas as bandeiras) e boleto à vista.\\nSe precisar dividir o pagamento, é possível pagar parte via Pix e o restante no cartão de crédito.\\nApós o pagamento, o acesso ao curso é liberado automaticamente e você já pode começar a estudar imediatamente.\\nSe tiver qualquer dúvida ou problema com o acesso, nosso suporte está disponível para te ajudar.\"\n\n### Exemplo 4:\n🔹 Input:\nNosso curso preparatório da Tropa do Arcanjo oferece uma metodologia completa para você ser aprovado no concurso militar dos seus sonhos. Confira alguns dos benefícios que você terá ao se inscrever:\n\n- *Aulas 100% online*, permitindo que você estude de qualquer lugar e no seu próprio ritmo.  \n- *Professores especializados* em concursos militares, com experiência na aprovação de centenas de alunos.  \n- *Simulados atualizados* com questões no formato das provas reais.  \n- *Materiais em PDF*, mapas mentais e resumos para facilitar o seu aprendizado.  \n- *Grupo VIP no WhatsApp* para tirar dúvidas diretamente com os professores e interagir com outros alunos.  \n- *Plano de estudos estruturado*, guiando você passo a passo até a aprovação.  \n- *Acesso por 12 meses*, para que você possa revisar todo o conteúdo sempre que precisar.  \n\nAlém disso, oferecemos suporte personalizado para garantir que você aproveite ao máximo sua preparação. Não perca tempo e comece a estudar hoje mesmo!\n\n🔹 Output:\nNosso curso preparatório da Tropa do Arcanjo oferece uma metodologia completa para você ser aprovado no concurso militar dos seus sonhos.\\nConfira alguns dos benefícios que você terá ao se inscrever:\\n\n- *Aulas 100% online*, permitindo que você estude de qualquer lugar e no seu próprio ritmo.\\n\n- *Professores especializados* em concursos militares, com experiência na aprovação de centenas de alunos.\\n\n- *Simulados atualizados* com questões no formato das provas reais.\\n\n- *Materiais em PDF*, mapas mentais e resumos para facilitar o seu aprendizado.\\n\n- *Grupo VIP no WhatsApp* para tirar dúvidas diretamente com os professores e interagir com outros alunos.\\n\n- *Plano de estudos estruturado*, guiando você passo a passo até a aprovação.\\n\n- *Acesso por 12 meses*, para que você possa revisar todo o conteúdo sempre que precisar.\\n\nAlém disso, oferecemos suporte personalizado para garantir que você aproveite ao máximo sua preparação. Não perca tempo e comece a estudar hoje mesmo!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1180,
        600
      ],
      "id": "9bd028df-63b8-4ec0-b821-72473aca12a1",
      "name": "quebrar_mensagem"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2140,
        600
      ],
      "id": "3baca089-4760-4158-ab07-1420d1d04cd6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Pegando a mensagem original do primeiro item do input\nconst mensagensTexto = $input.first().json.output || \"\";\n\n// Verifica se há conteúdo válido e corrige \\n escapados\nif (typeof mensagensTexto !== \"string\" || !mensagensTexto.trim()) {\n    return []; // Retorna um array vazio se não houver mensagens\n}\n\n// Substitui \"\\\\n\" por um \"\\n\" real caso esteja escapado\nconst textoCorrigido = mensagensTexto.replace(/\\\\n/g, \"\\n\");\n\n// Divide a mensagem corretamente e remove espaços extras\nconst mensagensArray = textoCorrigido\n    .split(/\\n/) // Quebra corretamente onde houver \"\\n\"\n    .map(line => line.trim()) // Remove espaços antes e depois\n    .filter(line => line.length > 0); // Remove qualquer linha vazia\n\n// Agora, ao invés de retornar um único item, retorna um array de itens separados no fluxo\nreturn mensagensArray.map(msg => ({ json: { output: msg } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        600
      ],
      "id": "bd9552de-06a5-4fc1-9aa9-b45f9195578d",
      "name": "Code"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1860,
        600
      ],
      "id": "7d98f1aa-05b0-4164-8585-3f82442581bf",
      "name": "Split Out"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -60,
        720
      ],
      "id": "d05f5f95-962a-4306-be2a-cdcd07d6a6b9",
      "name": "4.1mini",
      "credentials": {
        "openAiApi": {
          "id": "LddDKTuP5h0yVWPU",
          "name": "OpenAI | Afonso"
        }
      }
    },
    {
      "parameters": {
        "content": "# Secretaria Lara",
        "height": 840,
        "width": 1100,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -300,
        340
      ],
      "typeVersion": 1,
      "id": "6e0431d7-f15c-41b8-be8a-80901b197ef7",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://URLDOSEUCHATWOOT/api/v1/accounts/IDCONTA/conversations/IDDACONVERSA/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        620
      ],
      "id": "38ded944-7452-4475-a76c-12ff75e2e627",
      "name": "respostaChatwoot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hlmxNMwXmdz1K7K8",
          "name": "ChatWoot | Agente principal"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4140,
        460
      ],
      "id": "34504999-6d57-4fe7-ae16-878dc1e1c3f1",
      "name": "msgChatWoot"
    },
    {
      "parameters": {
        "content": "## Colocar para 48 horas",
        "height": 240,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3660,
        400
      ],
      "typeVersion": 1,
      "id": "fc3f898f-e59a-4bab-9c79-3576acccdcd3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3480,
        1020
      ],
      "id": "349d1d04-8333-4794-8fc1-d9c74c9dc9d7",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "87e70189-2fda-4774-837d-a9d3d9a466c1",
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continuar atendimento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "00766da5-4410-466f-9c03-093a9ec0afca",
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nao continuar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3740,
        840
      ],
      "id": "2f7e024c-86bb-4f5e-8f05-d8040771ae3c",
      "name": "fromMe1"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "block",
        "key": "={{ $json.body.conversation.contact_inbox.source_id }}_block",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4020,
        960
      ],
      "id": "024b0c20-ae27-4120-96ec-6fc8c270c550",
      "name": "Get User",
      "credentials": {
        "redis": {
          "id": "CmRroAPrkzXBWvYA",
          "name": "Redis | Upstash"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.body.conversation.contact_inbox.source_id }}_block",
        "value": "true",
        "expire": true,
        "ttl": 120
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3580,
        460
      ],
      "id": "edfb32e1-11f5-46cd-b880-997f6ae12ff6",
      "name": "Block user",
      "credentials": {
        "redis": {
          "id": "CmRroAPrkzXBWvYA",
          "name": "Redis | Upstash"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "129a0e9c-af81-4fcf-ab13-164b15b2aaeb",
                    "leftValue": "={{ $json.body.message_type }}",
                    "rightValue": "outgoing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chatwoot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "10172a93-4585-4cba-87f2-a06f4d20e760",
                    "leftValue": "={{ $('Webhook2').item.json.body.conversation.labels }}",
                    "rightValue": "humano",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chatWoot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7374ba1c-d5ae-4b3b-8219-935f0014cb66",
                    "leftValue": "={{ $('Webhook2').item.json.body.conversation.labels }}",
                    "rightValue": "desqualificado",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chatWoot"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4360,
        700
      ],
      "id": "18695d8d-bd8d-4fc0-9300-8c8f396ff1ad",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd9d0ddd-0d43-4af3-b915-4ce61d8f20ae",
              "name": "msg.id_conta",
              "value": "={{ $('Webhook2').item.json.body.account.id }}",
              "type": "number"
            },
            {
              "id": "d0da81cd-f320-46b5-beb6-58f719f0c613",
              "name": "msg.conversa",
              "value": "={{ $('Merge2').item.json.msg }}",
              "type": "string"
            },
            {
              "id": "0bd00a61-7893-48be-ab09-df90a336333f",
              "name": "msg.nomeLead",
              "value": "={{ $('Webhook2').item.json.body.conversation.messages[0].sender.name }}",
              "type": "string"
            },
            {
              "id": "51a05f3c-4695-48c0-8b73-fd1217955488",
              "name": "msg.id_conversa",
              "value": "={{ $('Webhook2').item.json.body.conversation.id }}",
              "type": "number"
            },
            {
              "id": "5574557a-9a39-426b-8c10-bc272747bc75",
              "name": "msg.id_Lead",
              "value": "={{ $('Webhook2').item.json.body.conversation.messages[0].sender.id }}",
              "type": "number"
            },
            {
              "id": "debefdb1-4424-4138-b02a-3ae952501cf5",
              "name": "msg.inbox_id",
              "value": "={{ $('Webhook2').item.json.body.conversation.inbox_id }}",
              "type": "number"
            },
            {
              "id": "64446d4b-61c7-459b-854b-5723b232d7ee",
              "name": "msg.identicacaoLead",
              "value": "={{ $('Webhook2').item.json.body.conversation.messages[0].sender.phone_number.replace('+', '') }}@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "2445f58a-ffdb-493c-b5b4-b0252342acc0",
              "name": "msg.numberLead",
              "value": "={{ $('Webhook2').item.json.body.conversation.messages[0].sender.phone_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1960,
        680
      ],
      "id": "63dd5a10-0a27-4c49-96cd-6912efcbc087",
      "name": "setarInfo2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1080,
        980
      ],
      "id": "d6c0ca71-718e-4752-bcae-e10b97d025db",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "512bac58-e060-4a8c-bae8-657cac02a1aa",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('Wait').item.json.msg.conversa }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1360,
        800
      ],
      "id": "b298e2b8-5855-40fa-8428-69888adcd7e2",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5148f5a0-1759-4726-a7cb-9d8556f4b7dd",
              "name": "message",
              "value": "={{ $('Get').item.json.message.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1060,
        720
      ],
      "id": "4cec5721-d6be-474c-a64f-2eb91affcaaa",
      "name": "ConcatenaMsg"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('setarInfo2').item.json.msg.numberLead }}"
      },
      "id": "ea7be2b2-eb8f-4ac6-9c8e-0d8ce1bd4ac6",
      "name": "Delete Buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -840,
        720
      ],
      "credentials": {
        "redis": {
          "id": "CmRroAPrkzXBWvYA",
          "name": "Redis | Upstash"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('setarInfo2').item.json.msg.numberLead }}",
        "keyType": "list",
        "options": {}
      },
      "id": "33f79ea2-fb5e-4b51-a139-a844d907972a",
      "name": "Get",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1580,
        800
      ],
      "credentials": {
        "redis": {
          "id": "CmRroAPrkzXBWvYA",
          "name": "Redis | Upstash"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('setarInfo2').item.json.msg.numberLead }}",
        "messageData": "={{ $json.msg.conversa }}",
        "tail": true
      },
      "id": "9c216353-1d69-4ea4-a7e7-aa9124c5d38a",
      "name": "Push",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1580,
        480
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "CmRroAPrkzXBWvYA",
          "name": "Redis | Upstash"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "f841e3a1-99a1-4286-b5ec-e6c34af34d6a",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1380,
        480
      ],
      "webhookId": "2681d2aa-7001-4a33-a5ae-d459c44fe4e2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "# ESPERA DE MENSAGENS",
        "height": 840,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1720,
        340
      ],
      "typeVersion": 1,
      "id": "310afe7e-8ed8-4caa-9dd2-6a202e711fde",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "te-jujaioo-748596125478-qujaiol-op",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4680,
        720
      ],
      "id": "62fd25b0-d5d0-41fe-82ed-e00d8e60a087",
      "name": "Webhook2",
      "webhookId": "5710f3e9-a637-40d3-a758-8b8acf8bc67c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0da81cd-f320-46b5-beb6-58f719f0c613",
              "name": "msg.conversa",
              "value": "={{ $('Webhook2').item.json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "bd9d0ddd-0d43-4af3-b915-4ce61d8f20ae",
              "name": "msg.id_conta",
              "value": "={{ $('Webhook2').item.json.body.account.id }}",
              "type": "number"
            },
            {
              "id": "0bd00a61-7893-48be-ab09-df90a336333f",
              "name": "msg.nomeLead",
              "value": "={{ $('Webhook2').item.json.body.conversation.messages[0].sender.name }}",
              "type": "string"
            },
            {
              "id": "51a05f3c-4695-48c0-8b73-fd1217955488",
              "name": "msg.id_conversa",
              "value": "={{ $('Webhook2').item.json.body.conversation.id }}",
              "type": "number"
            },
            {
              "id": "5574557a-9a39-426b-8c10-bc272747bc75",
              "name": "msg.id_Lead",
              "value": "={{ $('Webhook2').item.json.body.conversation.messages[0].sender.id }}",
              "type": "number"
            },
            {
              "id": "debefdb1-4424-4138-b02a-3ae952501cf5",
              "name": "msg.inbox_id",
              "value": "={{ $('Webhook2').item.json.body.conversation.inbox_id }}",
              "type": "number"
            },
            {
              "id": "64446d4b-61c7-459b-854b-5723b232d7ee",
              "name": "msg.identicacaoLead",
              "value": "={{ $('Webhook2').item.json.body.conversation.messages[0].sender.phone_number.replace('+', '') }}@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "2445f58a-ffdb-493c-b5b4-b0252342acc0",
              "name": "msg.numberLead",
              "value": "={{ $('Webhook2').item.json.body.conversation.messages[0].sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "645e79d5-a3b1-4588-a348-325681207e07",
              "name": "msg.media",
              "value": "={{ $('Webhook2').item.json.body.conversation.messages[0].attachments[0].file_type }}",
              "type": "string"
            },
            {
              "id": "e30d7e50-3249-4dda-99ad-0dab3c84601f",
              "name": "msg.urlMedia",
              "value": "={{ $('Webhook2').item.json.body.conversation.messages[0].attachments[0].data_url }}",
              "type": "string"
            },
            {
              "id": "f1c38212-f12f-4afd-aa0f-23e19f367ffa",
              "name": "msg.timestamp",
              "value": "={{ $json.body.conversation.timestamp }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3360,
        680
      ],
      "id": "f9f3ca49-0d7d-42c8-81ca-8f2a753c7f2a",
      "name": "setarInfo",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "# Tratamento da Mensagem Vinda por Texto, Imagem ou Áudio",
        "height": 840,
        "width": 1440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3200,
        340
      ],
      "id": "3c59bdb7-2159-4cbc-b8e5-3bd13955b6b4",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Você pode receber qualquer tipo de imagem do usuario. Destaque que tipo de img foi enviada.",
        "imageUrls": "={{ $('Switch').item.json.msg.urlMedia }}",
        "simplify": false,
        "options": {}
      },
      "id": "b6d0a4b5-eef5-4337-aaad-96ab903e01f4",
      "name": "transcreverImagem1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -2800,
        880
      ],
      "credentials": {
        "openAiApi": {
          "id": "LddDKTuP5h0yVWPU",
          "name": "OpenAI | Afonso"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Temos um erro aqui"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -3020,
        1000
      ],
      "id": "4cd7fefa-efe6-424e-898e-bc6550b60aa9",
      "name": "msg_erro1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2160,
        680
      ],
      "id": "fcb96537-6781-4a5a-946e-b737d38d06e2",
      "name": "Merge2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a2afd618-af95-4bf4-b065-94ef38183d50",
                    "leftValue": "={{ $('setarInfo').item.json.msg.media }}",
                    "rightValue": "=audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioTranscrito"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd779138-5925-4f04-94cc-5306646c85da",
                    "leftValue": "={{ $json.msg.conversa }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1873e517-3369-4cdd-8e15-2443a7dfa617",
                    "leftValue": "={{ $('setarInfo').item.json.msg.media }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3160,
        680
      ],
      "id": "7d0b32d3-f725-4f63-8d29-be6def39618e",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $('Switch').item.json.msg.urlMedia }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2860,
        480
      ],
      "id": "b11372f5-928e-4785-ba33-3cff5dbed8a9",
      "name": "baixarAudio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2680,
        480
      ],
      "id": "9e9a6201-06cc-4e7f-86ad-40ae0e6fb1e3",
      "name": "transcreverAudio",
      "credentials": {
        "openAiApi": {
          "id": "LddDKTuP5h0yVWPU",
          "name": "OpenAI | Afonso"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb-8f9c-4ae7-beb3-8ef4a7f3c5a0",
              "name": "msg",
              "value": "={{ $('transcreverAudio').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2460,
        480
      ],
      "id": "71094c47-516a-43ea-b8bb-bd458a053f32",
      "name": "setarAudio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb-8f9c-4ae7-beb3-8ef4a7f3c5a0",
              "name": "msg",
              "value": "={{ $('transcreverImagem1').item.json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2460,
        880
      ],
      "id": "7332ed71-d466-4094-89c2-22b19f066a26",
      "name": "setarImg1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb-8f9c-4ae7-beb3-8ef4a7f3c5a0",
              "name": "msg",
              "value": "={{ $json.msg.conversa }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2460,
        680
      ],
      "id": "7e32c0ff-ca76-40d5-b3fb-f6751f2e8da3",
      "name": "setarTexto"
    },
    {
      "parameters": {
        "content": "# Filtrar se é atendimento Humano",
        "height": 840,
        "width": 1180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4420,
        340
      ],
      "typeVersion": 1,
      "id": "b58d8cee-2c7b-4b26-8e2f-403a19c8dd1c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Duvida"
            },
            {
              "name": "identificadorLead"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        1360
      ],
      "id": "8b0a5684-0c09-42bc-a1ce-2d2922781765",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "description": "**Quando usar:**\n- Antes de enviar qualquer resposta ao paciente, para analisar o contexto da conversa, consultar a memória e decidir a ação correta.  \n- Utilizar para definir se é necessário acionar outra tool, fazer uma pergunta adicional ou responder diretamente.  \n- Serve apenas para raciocínio interno e **não deve ser exibido ao paciente**."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        260,
        980
      ],
      "id": "b7d30fa7-ce15-4058-80a9-2bb737d75568",
      "name": "Think"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51bd4896-17e9-484b-b08a-b6854225ccb3",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        1360
      ],
      "id": "d4eee3a6-fb34-4e84-a79a-b0c331375d89",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setarInfo5').item.json.identificadorLead }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        240,
        1620
      ],
      "id": "d8391e58-27f5-401b-a4a7-f5ec5886ab7e",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "6ZyqYAF7tGQrMHBP",
          "name": "Postgres | Tabela teste"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        1620
      ],
      "id": "5d311404-b100-4166-a58b-adae5bd72c99",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "LddDKTuP5h0yVWPU",
          "name": "OpenAI | Afonso"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3058e999-b1bf-43f3-b95c-bf1d71157c51",
              "name": "msgLead",
              "value": "={{ $json.Duvida }}",
              "type": "string"
            },
            {
              "id": "c6e2e733-5bb4-4b3d-9a79-cf43a9e56458",
              "name": "identificadorLead",
              "value": "={{ $json.identificadorLead }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        1360
      ],
      "id": "e310bfcd-80c9-495f-845b-2554529469ab",
      "name": "setarInfo5"
    },
    {
      "parameters": {
        "content": "# TOOLS:",
        "height": 240,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        900
      ],
      "typeVersion": 1,
      "id": "a57dac31-6abe-4d99-8450-6b6fd2d2aa24",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.msgLead }}",
        "options": {
          "systemMessage": "=Data e hora atual: {{ $now }}\n\n## IDENTIDADE\nVocê é um **agente interno de suporte à secretária Lara**, da clinica **Fique Linda**, com unidades em **Amparo - SP** e **Ilhabela - SP**.\nVocê não interage diretamente com o paciente; todas as informações chegam através da secretária.\nVocê deve sempre manter um tom objetivo, organizado e confiável, sem se apresentar como robô ou inteligência artificial.\n\n## SUA FUNÇÃO\nSua função é fornecer informações precisas e atualizadas sobre a clinica, suas unidades, procedimentos, estrutura, formas de pagamento e diferenciais. Você só responde o que foi perguntado, jamais cite informações de forma espontânea. Você não realiza atendimento direto com clientes finais e não toma decisões comerciais; seu papel é exclusivamente de apoio interno à secretária.\n\n## SOBRE A CLÍNICA\nA **clinica** é especializada em estética facial e corporal, com procedimentos personalizados, tecnologia de ponta e atendimento humanizado.  \nUnidades:  \n- **Ilhabela:** R. Pedro de Freitas, 2 – Perequê  \n    > Google Maps: https://maps.app.goo.gl/5ERwM27fbpVWva5N9  \n- **Amparo:** R. Gustavo de Souza, 108 – Ribeirão  \n    > Google Maps: https://maps.app.goo.gl/UZTroc2rkbynVYNS8\n- **Horário de atendimento:** Seg–Sex 08h–18h | Sáb 08h–13h  \n- **Pagamentos:** Débito, crédito, PIX (5% off).  \n- **Instagram:** https://www.instagram.com/jsesteticaavancadaa/\n\n## DIFERENCIAIS DA CLÍNICA\n- Protocolos exclusivos ajustados às necessidades de cada paciente.  \n- Uso de tecnologias seguras e modernas para resultados naturais.  \n- Profissional com formação em Biomedicina Estética e experiência clínica.  \n- Ambiente acolhedor e atendimento humanizado.  \n\n## PROFISSIONAL – JOANA SABRINA\n- Biomédica esteta formada, com experiência em procedimentos faciais e corporais.  \n- Especialista em protocolos personalizados para rejuvenescimento e harmonização natural.  \n- Reconhecida pelo atendimento humanizado e atenção aos detalhes de cada paciente.  \n- Apaixonada por promover autoestima e bem-estar por meio da estética avançada.  \n- Utiliza tecnologias modernas e seguras, garantindo resultados naturais e eficazes.  \n- Comprometida com atualização contínua e excelência profissional.\n\n## SOBRE A PRIMEIRA CONSULTA\n- A primeira consulta é **gratuita** e tem como objetivo avaliar as necessidades do paciente de forma individualizada.  \n- Durante a consulta, são discutidos os objetivos estéticos, histórico e expectativas do paciente.  \n- Com base nessa avaliação, a doutora define o **plano de tratamento personalizado** e orienta sobre os melhores procedimentos.  \n- O valor exato dos procedimentos é determinado **somente após essa avaliação**, garantindo que o tratamento seja adequado e seguro para cada pessoa.  \n- A consulta também é um momento para esclarecer dúvidas e garantir segurança antes de iniciar qualquer procedimento.\n\n## INSTRUÇÕES DE ATENDIMENTO\n- Responda apenas ao que foi solicitado, mantendo o foco na dúvida ou necessidade apresentada pelo paciente.\n- Responda sempre com clareza, objetividade, **tom humanizado e persuasivo**, principalmente em conversas sobre valores.  \n- Não oferecer procedimentos não solicitados pelo cliente final; sempre responder apenas sobre o que foi perguntado.\n- Dê o endereço da clinica **somente quando solicitado.**\n- Fale as formas de pagamento da clinica **somente quando solicitado.**\n- Use a tool **ListaProced** sempre que o paciente solicitar informações sobre **qualquer tipo de procedimento**.\n\n## PREÇOS DOS PROCEDIMENTOS\n- Nunca dê valores de procedimento, sem saber o nome do lead.\n- Não forneça valores de procedimentos de forma espontânea; só informe preços quando houver uma pergunta direta sobre valores.\n- Caso o paciente queira saber sobre algum procedimento especifico, nunca fale do preço dele, a menos que ele pergunte.\n- Caso o paciente tenha perguntado sobre o valor de um procedimento:\n  1. Destaque os **benefícios do procedimento solicitado** feito pela clinica.  \n  2. Só então, informe o valor no formato **“a partir de (valor)”**.\n\n## QUEBRA DE OBJEÇÕES\n- Sempre responder de forma acolhedora, reconhecendo a preocupação do paciente antes de apresentar a solução.  \n- Destacar os diferenciais da clínica (atendimento humanizado, tecnologias modernas, protocolos exclusivos).  \n- Reforçar que a **primeira consulta é gratuita**, onde será definido o melhor tratamento para cada caso.  \n- Utilizar um tom **persuasivo e positivo**, mostrando segurança nos resultados e benefícios oferecidos.  \n- Convidar o paciente a agendar a avaliação gratuita como próximo passo, reforçando que cada tratamento é personalizado.\n\n## TOOLS DISPONÍVEIS\n### Tool: ListaProced\n**Quando usar:**  \n- Sempre que for solicitado informações sobre um procedimento específico.\n- Sempre que for solicitado sobre o preço de um procedimento específico.\n\n**Quando não usar:**  \n- Quando o paciente solicitar agendamento, reagendamento ou cancelamento."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        180,
        1360
      ],
      "id": "5fbe4898-a963-4040-931c-74f4cf070e48",
      "name": "Sobre a clinica"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('ConcatenaMsg').item.json.message }}",
        "options": {
          "systemMessage": "=## IDENTIDADE\nVocê é **Lara**, secretária da **clinica Fique Bela**, com unidades em **Amparo - SP** e **Ilhabela - SP**.  \nSeu atendimento é feito via **WhatsApp**, e você deve sempre se comportar como uma pessoa real, acolhedora e simpática, nunca se apresentando como robô ou inteligência artificial.\n\n## SUA FUNÇÃO\n- Atender clientes via WhatsApp de forma humanizada e empática.  \n- Fornecer informações e responder dúvidas sobre a clínica **sempre acionando a tool `sobreClinica`**.  \n- Apresentar e vender os procedimentos da clínica, reforçando seus benefícios.  \n- Realizar agendamentos, reagendamentos e cancelamentos conforme solicitado através da tool \"Agendar\".  \n- Acionar corretamente as tools internas de acordo com cada solicitação do cliente.\n\n## TOM DE VOZ\n- Empática e acolhedora, transmitindo empatia segurança.  \n- Simpática e persuasiva, incentivando a continuidade da conversa e o agendamento da avaliação.  \n- Uso moderado de emojis, somente em mensagens ou momentos estratégicos.\n\n## FLUXO DE ATENDIMENTO\n**Etapa 1:** Se apresente como como **Lara**, secretária da **clinica Fique Bela** e colete o nome do cliente.  \n**Etapa 2:** Perguntar em qual unidade deseja ser atendido (Amparo ou Ilhabela).  \n**Etapa 3:** Perguntar qual procedimento ou serviço o cliente tem interesse.  \n\n## INSTRUÇÕES DE ATENDIMENTO\n- Faça sempre uma pergunta por vez.\n- Nunca se apresente como IA, robô ou assistente virtual; sempre como uma pessoa real.\n- Nunca encerre uma conversa antes de tentar o agendamento com o paciente.\n- Não informar valores de procedimentos diretamente; convide o cliente a conhecer os detalhes no atendimento, utilizando as ferramentas apropriadas.  \n- Se o paciente mencionar um procedimento específico, responda **apenas sobre esse procedimento**, sem listar ou indicar outros procedimentos.\n- Toda resposta das **tools internas** deve ser adaptada para o a sua **linguagem e tom de voz**, sem alterar as informações, apenas tornando a comunicação acolhedora e humanizada.\n- Evite qualquer **termo técnico ou mencionar ferramentas internas** (como \"tool\"). Use apenas expressões humanas e naturais.\n- Sempre que houver dúvidas ou objeções sobre serviços, estrutura ou diferenciais, utilize a tool **sobreClinica** antes de responder.\n- Toda vez que o paciente perguntar sobre qualquer procedimento, **obrigatoriamente acione a tool `sobreClinica`** para buscar informações sobre ele.  \n- Em caso de dúvida sobre qual tool utilizar, acione a tool **\"Think\"** antes de responder ao paciente.\n- Só passe o valor do procedimento, caso o paciente pergunte. Nunca passe de forma espontânea.\n- Só passe o valor do procedimento, depois de coletar o nome do paciente.\n\n## TOOLS DISPONÍVEIS\nDurante o atendimento, você pode usar as seguintes tools internas.\n\n**Importante:**\n- Para acionar qualquer tool, sempre envie o contexto completo da conversa e a intenção clara do paciente (ex.: informação, valor, agendamento, cancelamento).  \n- Não presuma agendamento quando o paciente pede apenas informações.  \n- Forneça dados suficientes para a respectiva tool para evitar respostas fora de contexto.  \n- A tool deve responder apenas ao que foi perguntado; se a resposta não for adequada, ajuste a pergunta e acione novamente.  \n- Repassar ao paciente as informações recebidas, mantendo todos os detalhes, mas adaptando ao tom de voz definido e evitando perguntas ou informações já passadas durante a conversa.\n\n### Tool: Think  \n**Quando usar:**\n- Antes de enviar qualquer resposta ao paciente, para analisar o contexto da conversa, consultar a memória e decidir a ação correta.  \n- Utilizar para definir se é necessário acionar outra tool, fazer uma pergunta adicional ou responder diretamente.  \n- Serve apenas para raciocínio interno e **não deve ser exibido ao paciente**.\n\n### Tool: sobreClinica\n**Quando chamar:**  \n- Sempre que o paciente perguntar **sobre um procedimento estético específico** (como funciona, etapas ou técnicas usadas).  \n- Quando o paciente pedir **informações sobre valor inicial, formas de pagamento, parcelamento ou condições especiais**.  \n- Quando o paciente perguntar **sobre a clínica, endereço, localização, horários de atendimento ou informações sobre a equipe e estrutura**.  \n- Sempre que o paciente apresentar **alguma objeção** em relação a marcar a avaliação ou ao funcionamento da clínica.  \n\n**Quando NÃO chamar:**  \n- Quando o paciente quiser **ver horários disponíveis, agendar, remarcar ou cancelar uma avaliação** (nesses casos, use a tool `Agendar`).  \n- Quando o paciente **relatar problemas após um procedimento realizado** ou situações que indiquem necessidade de suporte clínico imediato (nesse caso, use a tool `Humano`).  \n\n### Tool: Agendar\n**Quando chamar:**  \n- Sempre que o paciente quiser **ver horários disponíveis, agendar, remarcar ou cancelar uma avaliação** ou um procedimento na **clinica**.  \n- Quando o paciente disser frases como: **\"Quero marcar\", \"Tem vaga?\", \"Que dia tem?\", \"Quero um horário\"** ou qualquer outra frase que indique interesse em agendar.  \n\n**Quando NÃO chamar:**  \n- Se o paciente estiver apenas perguntando sobre procedimentos, preços ou fazendo perguntas gerais.  \n- Se o paciente ainda não demonstrou interesse claro em agendar.\n\n## DATA E HORA ATUALIZADOS\nPara efeito de contexto durante as suas conversas segue a data e hora de hoje e os próximos dias:\n{{ $json.resultado }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        100,
        460
      ],
      "id": "13a871db-82bf-4662-abf4-02af75df4aad",
      "name": "Lara"
    },
    {
      "parameters": {
        "content": "# TOOL: sobreClinica",
        "height": 580,
        "width": 1400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        1240
      ],
      "typeVersion": 1,
      "id": "9941e29a-81e0-4ae8-99b0-07ad46caedd3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "name": "SobreClinica",
        "description": "**Quando chamar:**  \n- Sempre que o paciente perguntar **sobre um procedimento estético específico** (como funciona, etapas ou técnicas usadas).  \n- Quando o paciente pedir **informações sobre valor inicial, formas de pagamento, parcelamento ou condições especiais**.  \n- Quando o paciente perguntar **sobre a clínica, endereço, localização, horários de atendimento ou informações sobre a equipe e estrutura**.  \n- Sempre que o paciente apresentar **alguma objeção** em relação a marcar a avaliação ou ao funcionamento da clínica.  \n\n**Quando NÃO chamar:**  \n- Quando o paciente quiser **ver horários disponíveis, agendar, remarcar ou cancelar uma avaliação**",
        "workflowId": {
          "__rl": true,
          "value": "WLuqBeLHrvJ6ifLo",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Duvida": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Duvida', `Coloque aqui o que o cliente deseja. Caso seja necessário, sempre coloque o procedimento que o usuário busca.`, 'string') }}",
            "identificadorLead": "={{ $('setarInfo2').item.json.msg.identicacaoLead }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Duvida",
              "displayName": "Duvida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "identificadorLead",
              "displayName": "identificadorLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        400,
        980
      ],
      "id": "d5799be0-6484-4d71-ae8d-9427f7d0082a",
      "name": "sobreClinica"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        420,
        1620
      ],
      "id": "35564d4f-550b-4e1f-919c-cc3243a2abd8",
      "name": "ListaProced",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BR3AP2KWupgSkFmW",
          "name": "Google Sheets | HermesMind"
        }
      }
    },
    {
      "parameters": {
        "name": "Agendar",
        "description": "**Quando chamar:**  \n- Sempre que o paciente quiser **ver horários disponíveis, agendar, remarcar ou cancelar uma avaliação** ou um procedimento na **JS Estética Avançada**.  \n- Quando o paciente disser frases como: **\"Quero marcar\", \"Tem vaga?\", \"Que dia tem?\", \"Quero um horário\"** ou qualquer outra frase que indique interesse em agendar.  \n\n**Quando NÃO chamar:**  \n- Se o paciente estiver apenas perguntando sobre procedimentos, preços ou fazendo perguntas gerais.  \n- Se o paciente ainda não demonstrou interesse claro em agendar.",
        "workflowId": {
          "__rl": true,
          "value": "ou5wkkQEy0S0eMMX",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "duvida": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duvida', `Duvida do usuario. Sempre seja detalhista nessa duvida e especifique bem o que ele quer. Se possível sempre coloque o nome do usuário e o procedimento que ele busca.`, 'string') }}",
            "Identificador Lead": "={{ $('setarInfo2').item.json.msg.identicacaoLead }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "duvida",
              "displayName": "duvida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Identificador Lead",
              "displayName": "Identificador Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        540,
        980
      ],
      "id": "039f2b39-c849-4aa9-bf3a-1129215eddf7",
      "name": "Agendar"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "proximos_dias": {
      "main": [
        [
          {
            "node": "Lara",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Lara",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "setarMsgAgent": {
      "main": [
        [
          {
            "node": "quebrar_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "quebrar_mensagem",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "quebrar_mensagem": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "respostaChatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.1mini": {
      "ai_languageModel": [
        [
          {
            "node": "Lara",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "respostaChatwoot": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fromMe1": {
      "main": [
        [
          {
            "node": "setarInfo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User": {
      "main": [
        [
          {
            "node": "fromMe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "msgChatWoot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Block user",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Block user",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo2": {
      "main": [
        [
          {
            "node": "Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ConcatenaMsg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConcatenaMsg": {
      "main": [
        [
          {
            "node": "Delete Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Buffer": {
      "main": [
        [
          {
            "node": "proximos_dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcreverImagem1": {
      "main": [
        [
          {
            "node": "setarImg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "setarInfo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "baixarAudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setarTexto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "transcreverImagem1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg_erro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baixarAudio": {
      "main": [
        [
          {
            "node": "transcreverAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcreverAudio": {
      "main": [
        [
          {
            "node": "setarAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarAudio": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarImg1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "setarTexto": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "setarInfo5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Lara",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Sobre a clinica",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Sobre a clinica",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo5": {
      "main": [
        [
          {
            "node": "Sobre a clinica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sobre a clinica": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lara": {
      "main": [
        [
          {
            "node": "setarMsgAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sobreClinica": {
      "ai_tool": [
        [
          {
            "node": "Lara",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ListaProced": {
      "ai_tool": [
        [
          {
            "node": "Sobre a clinica",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "ai_tool": [
        [
          {
            "node": "Lara",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bee5fd0e-d21c-4a69-885d-04f55f41a51b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "WLuqBeLHrvJ6ifLo",
  "tags": []
}