workflows/TEMPLATES PRONTOS/PAGOS/Barbearia (3 agendas)/1- Secretaria _ Barão da Navalha (1).json
{
  "name": "1- Secretaria | Barão da Navalha",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ec52fa2-9612-4ea2-8a10-7c740bfac64a",
              "name": "msgLead",
              "value": "={{ $('ConcatenaMsg').first().json.message }}",
              "type": "string"
            },
            {
              "id": "65fdfb70-1916-4502-9e20-6a7ff820d154",
              "name": "identificadorLead",
              "value": "={{ $('setarInfo4').first().json.msg.identicacaoLead }}",
              "type": "string"
            },
            {
              "id": "5dee01f6-4b9d-4757-9af3-c6473638bad3",
              "name": "proximosDias",
              "value": "={{ $json.resultado }}",
              "type": "string"
            },
            {
              "id": "1288be94-39ce-4fef-b322-3cd4aff8ccdb",
              "name": "Nome",
              "value": "=As informações abaixo servem para personalizar suas respostas e evitar que você faça perguntas repetidas e manter a conversa coerente.\n\nNome do usuário: {{ $('PuxarNumeroLead').item.json.Nome }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2656,
        320
      ],
      "id": "d5c5a0ae-e0b5-41d7-bb3e-3d38c8c5ba75",
      "name": "setarInfo"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4928,
        352
      ],
      "id": "c9b99604-414f-49b8-b2d7-5349dfe93570",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// Pegando a mensagem original do primeiro item do input\nconst mensagensTexto = $input.first().json.output || \"\";\n\n// Verifica se há conteúdo válido e corrige \\n escapados\nif (typeof mensagensTexto !== \"string\" || !mensagensTexto.trim()) {\n    return []; // Retorna um array vazio se não houver mensagens\n}\n\n// Substitui \"\\\\n\" por um \"\\n\" real caso esteja escapado\nconst textoCorrigido = mensagensTexto.replace(/\\\\n/g, \"\\n\");\n\n// Divide a mensagem corretamente e remove espaços extras\nconst mensagensArray = textoCorrigido\n    .split(/\\n/) // Quebra corretamente onde houver \"\\n\"\n    .map(line => line.trim()) // Remove espaços antes e depois\n    .filter(line => line.length > 0); // Remove qualquer linha vazia\n\n// Agora, ao invés de retornar um único item, retorna um array de itens separados no fluxo\nreturn mensagensArray.map(msg => ({ json: { output: msg } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4624,
        352
      ],
      "id": "f087f0f5-c3a3-48ae-b2ea-b909852427d1",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5168,
        336
      ],
      "id": "7057fc8f-8de7-4a5e-b68a-ecf0a79a0753",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Quebre a mensagem abaixo com base e regras das suas informações de sistema e tire toda a formatação markdown. Jamais faça comentários adicionais.\n\nA mensagem:\n\n{{ $('setarMsgAgent').item.json.message_agent }}",
        "options": {
          "systemMessage": "=## Quem é você\nVocê é responsável em formatar mensagens dentro da automação do N8N. Você deve quebrar as mensagens longas em partes menores, sem alterar o conteúdo original e sem mudar nenhuma palavra sequer. Além disso, você deve remover qualquer formatação em Markdown, deixando o texto completamente limpo e sem estilos.\n\n## Sua função\nSua única função é dividir textos longos em blocos menores sem alterar nenhuma palavra. Remova toda formatação em Markdown, deixando apenas texto puro.\n\n## Regras\n- Nunca mude palavras, não reescreva, não interprete.\n- Sempre finalize a frase antes de quebrar.\n- Máx. 80 caracteres por trecho.\n- Use \\n para separar os blocos (duas quebras de linha).\n- Se o texto for curto (≤ 80 caracteres), não quebre.\n- Em listas, cada item fica em linha separada.\n- Nunca corte após vírgula.\n- Saída limpa, sem Markdown, negrito, itálico ou títulos.\n- Não adicione comentários ou explicações.\n\n## Exemplos\n### Exemplo 1:\n🔹 Input:\nO curso preparatório da Tropa do Arcanjo para a ESPCEX é totalmente online e conta com videoaulas detalhadas, materiais de apoio em PDF e simulados atualizados. Nossos professores são especialistas em concursos militares e oferecem suporte direto aos alunos. Além disso, você terá acesso a um grupo VIP exclusivo para tirar dúvidas e interagir com outros candidatos. O curso tem duração de 12 meses, mas você pode estudar no seu próprio ritmo e reassistir às aulas quantas vezes quiser.\n\n🔹 Output:\nO curso preparatório da Tropa do Arcanjo para a ESPCEX é totalmente online e conta com videoaulas detalhadas, materiais de apoio em PDF e simulados atualizados.\\nNossos professores são especialistas em concursos militares e oferecem suporte direto aos alunos.\\nAlém disso, você terá acesso a um grupo VIP exclusivo para tirar dúvidas e interagir com outros candidatos.\\nO curso tem duração de 12 meses, mas você pode estudar no seu próprio ritmo e reassistir às aulas quantas vezes quiser.\n\n### Exemplo 2:\n🔹 Input:\nNosso curso preparatório da Tropa do Arcanjo oferece uma metodologia completa para você ser aprovado no concurso militar dos seus sonhos. Confira alguns dos benefícios que você terá ao se inscrever:\n\n- *Aulas 100% online*, permitindo que você estude de qualquer lugar e no seu próprio ritmo.  \n- *Professores especializados* em concursos militares, com experiência na aprovação de centenas de alunos.  \n- *Simulados atualizados* com questões no formato das provas reais.  \n- *Materiais em PDF*, mapas mentais e resumos para facilitar o seu aprendizado.  \n- *Grupo VIP no WhatsApp* para tirar dúvidas diretamente com os professores e interagir com outros alunos.  \n- *Plano de estudos estruturado*, guiando você passo a passo até a aprovação.  \n- *Acesso por 12 meses*, para que você possa revisar todo o conteúdo sempre que precisar.  \n\nAlém disso, oferecemos suporte personalizado para garantir que você aproveite ao máximo sua preparação. Não perca tempo e comece a estudar hoje mesmo!\n\n🔹 Output:\nNosso curso preparatório da Tropa do Arcanjo oferece uma metodologia completa para você ser aprovado no concurso militar dos seus sonhos.\\nConfira alguns dos benefícios que você terá ao se inscrever:\\n\n- *Aulas 100% online*, permitindo que você estude de qualquer lugar e no seu próprio ritmo.\\n\n- *Professores especializados* em concursos militares, com experiência na aprovação de centenas de alunos.\\n\n- *Simulados atualizados* com questões no formato das provas reais.\\n\n- *Materiais em PDF*, mapas mentais e resumos para facilitar o seu aprendizado.\\n\n- *Grupo VIP no WhatsApp* para tirar dúvidas diretamente com os professores e interagir com outros alunos.\\n\n- *Plano de estudos estruturado*, guiando você passo a passo até a aprovação.\\n\n- *Acesso por 12 meses*, para que você possa revisar todo o conteúdo sempre que precisar.\\n\nAlém disso, oferecemos suporte personalizado para garantir que você aproveite ao máximo sua preparação. Não perca tempo e comece a estudar hoje mesmo!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4224,
        352
      ],
      "id": "92b4b86d-9d8f-4595-bc63-fcdc57681b87",
      "name": "quebrar_mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4499d032-0660-4ad4-ac0f-186022972178",
              "name": "message_agent",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3984,
        352
      ],
      "id": "45af3069-8a3c-4732-be4e-4b1785737815",
      "name": "setarMsgAgent"
    },
    {
      "parameters": {
        "content": "# Quebra a resposta em várias mensagens e tira a formatação markdown",
        "height": 560,
        "width": 860,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3920,
        160
      ],
      "typeVersion": 1,
      "id": "5719bd9b-e59a-48ad-8434-8d6517bacecf",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Envia uma mensagem por vez para o usuário",
        "height": 560,
        "width": 980,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4848,
        160
      ],
      "typeVersion": 1,
      "id": "6717df08-cd9e-4b05-8651-f75f860b1c58",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4192,
        560
      ],
      "id": "bc0a9470-f804-4adb-9672-8f052afa53eb",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "LddDKTuP5h0yVWPU",
          "name": "OpenAI | Afonso"
        }
      }
    },
    {
      "parameters": {
        "content": "# SECRETARIA",
        "height": 880,
        "width": 1060,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2832,
        80
      ],
      "typeVersion": 1,
      "id": "fe242729-88bf-4ac0-865a-0f86f9acc3b3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## TOOLS:",
        "height": 280,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3408,
        624
      ],
      "typeVersion": 1,
      "id": "6ce1ca0c-2909-4d0a-bfa8-659c69b81968",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setarInfo').item.json.identificadorLead }}",
        "contextWindowLength": 80
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3152,
        496
      ],
      "id": "dd7dd6b8-ed1d-4a94-bbde-e22ea29d8f8d",
      "name": "memoria",
      "credentials": {
        "postgres": {
          "id": "6ZyqYAF7tGQrMHBP",
          "name": "Postgres | Tabela teste"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3024,
        496
      ],
      "id": "3b74bf9a-2f87-4a53-a7dd-fb766a72ee8f",
      "name": "4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "LddDKTuP5h0yVWPU",
          "name": "OpenAI | Afonso"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb-8f9c-4ae7-beb3-8ef4a7f3c5a0",
              "name": "msg",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        640
      ],
      "id": "ecb6fa2c-a09e-4142-b8ef-8b63cbb4249c",
      "name": "setarImg1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb-8f9c-4ae7-beb3-8ef4a7f3c5a0",
              "name": "msg",
              "value": "={{ $('transcreverAudio').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        208
      ],
      "id": "165566f1-4e0f-4fc8-9676-afdb01297db5",
      "name": "setarAudio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        320,
        208
      ],
      "id": "1d2e7a27-85c5-4604-b83a-897f76b77f08",
      "name": "transcreverAudio",
      "credentials": {
        "openAiApi": {
          "id": "LddDKTuP5h0yVWPU",
          "name": "OpenAI | Afonso"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('setarInfo4').item.json.msg.urlMedia }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        208
      ],
      "id": "4ade8896-bd33-465c-8f8f-b45764a913f8",
      "name": "baixarAudio"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        896,
        416
      ],
      "id": "f875a66c-3c77-478c-b894-841925724ce8",
      "name": "Merge2"
    },
    {
      "parameters": {
        "errorMessage": "Temos um erro aqui"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        16,
        864
      ],
      "id": "28ca4389-445c-47fa-bbfd-a5ae9c072e47",
      "name": "msg_erro1"
    },
    {
      "parameters": {
        "amount": 40
      },
      "id": "1f768c64-d029-4881-b121-bf6723c7713a",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1664,
        208
      ],
      "webhookId": "2681d2aa-7001-4a33-a5ae-d459c44fe4e2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('setarMsg').item.json.msg.numberLead }}",
        "messageData": "={{ $json.msg.conversa }}",
        "tail": true
      },
      "id": "77d8f468-e4d0-4fee-9962-80434d392655",
      "name": "Push",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1456,
        208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "CmRroAPrkzXBWvYA",
          "name": "Redis | Upstash"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('setarMsg').item.json.msg.numberLead }}",
        "keyType": "list",
        "options": {}
      },
      "id": "fe4fa789-49dc-458d-8d37-ce04743b9af6",
      "name": "Get",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1456,
        528
      ],
      "credentials": {
        "redis": {
          "id": "CmRroAPrkzXBWvYA",
          "name": "Redis | Upstash"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('setarMsg').item.json.msg.numberLead }}"
      },
      "id": "576b4d17-2f69-4fd9-9377-f3f76ea2c68a",
      "name": "Delete Buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2192,
        448
      ],
      "credentials": {
        "redis": {
          "id": "CmRroAPrkzXBWvYA",
          "name": "Redis | Upstash"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5148f5a0-1759-4726-a7cb-9d8556f4b7dd",
              "name": "message",
              "value": "={{ $('Get').item.json.message.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1984,
        448
      ],
      "id": "497629f0-b784-49b2-aace-077c45eeb666",
      "name": "ConcatenaMsg"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "512bac58-e060-4a8c-bae8-657cac02a1aa",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('Wait').item.json.msg.conversa }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        528
      ],
      "id": "4d8df83d-3ca6-4a79-9808-8328e7546561",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1952,
        720
      ],
      "id": "00ac7611-a299-4b6f-bbdc-32d60136cc68",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb-8f9c-4ae7-beb3-8ef4a7f3c5a0",
              "name": "msg",
              "value": "={{ $('setarInfo4').first().json.msg.conversa }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        432
      ],
      "id": "f60df892-11f9-4ff0-a203-c6c85946aed6",
      "name": "setarTexto1"
    },
    {
      "parameters": {
        "content": "# Tratamento da Mensagem Vinda por Texto, Imagem ou Áudio",
        "height": 1096,
        "width": 1472,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -16
      ],
      "id": "53236af8-ae7d-4e06-8b2b-8de4a1863d26",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "# ESPERA DE MENSAGENS",
        "height": 840,
        "width": 1140
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        80
      ],
      "typeVersion": 1,
      "id": "e384b272-a8a9-4c92-9109-aa2a0ec9e0d4",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a2afd618-af95-4bf4-b065-94ef38183d50",
                    "leftValue": "={{ $('setarInfo4').first().json.msg.media }}",
                    "rightValue": "=audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioTranscrito"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd779138-5925-4f04-94cc-5306646c85da",
                    "leftValue": "={{ $('setarInfo4').first().json.msg.conversa }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1873e517-3369-4cdd-8e15-2443a7dfa617",
                    "leftValue": "={{ $('setarInfo4').first().json.msg.media }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -160,
        416
      ],
      "id": "4f665e88-149c-44b8-918e-290c1757b834",
      "name": "Switch3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "129a0e9c-af81-4fcf-ab13-164b15b2aaeb",
                    "leftValue": "={{ $('Webhook3').item.json.body.message_type }}",
                    "rightValue": "outgoing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chatwoot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "10172a93-4585-4cba-87f2-a06f4d20e760",
                    "leftValue": "={{ $('Webhook3').item.json.body.conversation.labels }}",
                    "rightValue": "humano",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Etiqueta humano"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1696,
        480
      ],
      "id": "e1c3779b-4dee-4881-8258-380c749223a4",
      "name": "Switch1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1504,
        208
      ],
      "id": "49c5b95c-59ed-480d-9dc7-f487469f850d",
      "name": "msgChatWoot"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0da81cd-f320-46b5-beb6-58f719f0c613",
              "name": "msg.conversa",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "bd9d0ddd-0d43-4af3-b915-4ce61d8f20ae",
              "name": "msg.id_conta",
              "value": "={{ $('Webhook3').item.json.body.account.id }}",
              "type": "number"
            },
            {
              "id": "0bd00a61-7893-48be-ab09-df90a336333f",
              "name": "msg.nomeLead",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].sender.name }}",
              "type": "string"
            },
            {
              "id": "51a05f3c-4695-48c0-8b73-fd1217955488",
              "name": "msg.id_conversa",
              "value": "={{ $('Webhook3').item.json.body.conversation.id }}",
              "type": "number"
            },
            {
              "id": "5574557a-9a39-426b-8c10-bc272747bc75",
              "name": "msg.id_Lead",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].sender.id }}",
              "type": "number"
            },
            {
              "id": "debefdb1-4424-4138-b02a-3ae952501cf5",
              "name": "msg.inbox_id",
              "value": "={{ $('Webhook3').item.json.body.conversation.inbox_id }}",
              "type": "number"
            },
            {
              "id": "64446d4b-61c7-459b-854b-5723b232d7ee",
              "name": "msg.identicacaoLead",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].sender.phone_number.replace('+', '') }}@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "2445f58a-ffdb-493c-b5b4-b0252342acc0",
              "name": "msg.numberLead",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "645e79d5-a3b1-4588-a348-325681207e07",
              "name": "msg.media",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].attachments[0].file_type }}",
              "type": "string"
            },
            {
              "id": "e30d7e50-3249-4dda-99ad-0dab3c84601f",
              "name": "msg.urlMedia",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].attachments[0].data_url }}",
              "type": "string"
            },
            {
              "id": "f1c38212-f12f-4afd-aa0f-23e19f367ffa",
              "name": "msg.timestamp",
              "value": "={{ $json.body.conversation.timestamp }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        384
      ],
      "id": "fa1ab8b9-f5eb-4589-8044-39012b8459bb",
      "name": "setarInfo4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "# Filtrar se é atendimento Humano",
        "height": 840,
        "width": 636
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1824,
        80
      ],
      "typeVersion": 1,
      "id": "55380464-111c-4975-903c-3caa15ebdfe5",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "teste-barbearia-AHUSAOJSA-loplasa-IQKOALPIUJAS",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2000,
        496
      ],
      "id": "15ed6ead-65af-4704-8eb4-b01c6d56d668",
      "name": "Webhook3",
      "webhookId": "5710f3e9-a637-40d3-a758-8b8acf8bc67c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=URL_DO_SEU_CHATWOT/api/v1/accounts/{{ $('setarInfo4').first().json.msg.id_conta }}/conversations/{{ $('setarInfo4').first().json.msg.id_conversa }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5424,
        416
      ],
      "id": "ab9ce8b6-90f7-48a2-85fe-fb78903ef597",
      "name": "respostaChatwoot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hlmxNMwXmdz1K7K8",
          "name": "ChatWoot | Agente principal"
        }
      }
    },
    {
      "parameters": {
        "content": "# Verifica se o usuário existe e cadastra ele no Banco de dados.",
        "height": 840,
        "width": 880,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1136,
        80
      ],
      "typeVersion": 1,
      "id": "e7239b9a-b784-4654-ba92-3584fec9156b",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "32a5f010-2252-4057-acb7-a085648e3a14",
                    "leftValue": "={{ $json.Whatsapp.toString() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Existe"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Whatsapp.toString() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "c71b31fe-c16a-4e57-a5b5-7d115351d0ee"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Não existe"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -624,
        384
      ],
      "id": "376e2789-ece6-413b-931e-a51783c3f194",
      "name": "Switch4"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "CRM_geral",
        "filters": {
          "conditions": [
            {
              "keyName": "Whatsapp",
              "keyValue": "={{ $json.msg.numberLead.replace('+', '') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -864,
        384
      ],
      "id": "fd58af76-7de3-4927-9830-6de57bdb211f",
      "name": "PuxarNumeroLead",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "5WK27ekDlNw6DJbK",
          "name": "Supabase | Tabela 2 Hermes"
        }
      }
    },
    {
      "parameters": {
        "tableId": "CRM_geral",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Inicio do atendimento",
              "fieldValue": "={{ $now.format('dd-MM-yyyy') }}"
            },
            {
              "fieldId": "Whatsapp",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.numberLead.replace('+', '') }}"
            },
            {
              "fieldId": "Identificador do usuario",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.identicacaoLead }}"
            },
            {
              "fieldId": "IDConta ChatWoot",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.id_conta }}"
            },
            {
              "fieldId": "IDConversa ChatWoot",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.id_conversa }}"
            },
            {
              "fieldId": "IDLead ChatWoot",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.id_Lead }}"
            },
            {
              "fieldId": "InboxID ChatWoot",
              "fieldValue": "={{ $('setarInfo4').first().json.msg.inbox_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -432,
        624
      ],
      "id": "2dbb18ee-1e66-42fb-b729-8ec935ee00d1",
      "name": "CriarUsuario",
      "credentials": {
        "supabaseApi": {
          "id": "5WK27ekDlNw6DJbK",
          "name": "Supabase | Tabela 2 Hermes"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0da81cd-f320-46b5-beb6-58f719f0c613",
              "name": "msg.conversa",
              "value": "={{ $('Merge2').item.json.msg }}",
              "type": "string"
            },
            {
              "id": "64446d4b-61c7-459b-854b-5723b232d7ee",
              "name": "msg.identicacaoLead",
              "value": "={{ $('Webhook3').first().json.body.conversation.messages[0].sender.phone_number.replace('+', '') }}@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "ed72d279-ac0f-4426-8684-c0c50ee264ec",
              "name": "msg.numberLead",
              "value": "={{ $('Switch3').item.json.Whatsapp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        432
      ],
      "id": "064b29de-c6c9-4db7-981e-63a87ba4eb4c",
      "name": "setarMsg"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5664,
        512
      ],
      "id": "635e78f5-4623-40a1-b034-b9247a818cd8",
      "name": "2 segundos",
      "webhookId": "38b25403-3ab5-47b0-9d97-299017be8346"
    },
    {
      "parameters": {
        "content": "# Setar proximos dias e msg",
        "height": 460,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2464,
        96
      ],
      "typeVersion": 1,
      "id": "a7dc7f00-7014-48bf-be46-5de3eac44407",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "name": "Agendar",
        "description": "=**Quando usar:**\n-   Quando o cliente quiser **marcar, reagendar, cancelar um horário ou verificar disponibilidade**.\n-   Quando o cliente demonstrar **interesse direto em agendar** após receber informações sobre um serviço.   \n\n**Quando não usar:**\n-   Quando o cliente estiver apenas tirando **dúvidas sobre serviços** (use a `serviTool` nesses casos).",
        "workflowId": {
          "__rl": true,
          "value": "bM7BxTeNwxjMuTDA",
          "mode": "id",
          "cachedResultUrl": "/workflow/bM7BxTeNwxjMuTDA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Identificador Lead": "={{ $('setarInfo').first().json.identificadorLead }}",
            "duvida": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duvida', `Coloque aqui o que o cliente busca (ver horários, marcar, cancelar ou reagendar, etc) e sempre que possível coloque o nome do cliente e o profissional (barbeiro) que ele quer que atenda ele.`, 'string') }}",
            "Profissional": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Profissional', `Aqui você precisa colocar o nome do profissional que vai atender o cliente. Caso o cliente não cite o nome do profissional, deixe em branco.`, 'string') }}",
            "servico": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servico', `Aqui você deve colocar o serviço que o cliente deseja fazer. Caso ele queira fazer mais de um serviço, coloque o nome de todos.`, 'string') }}",
            "nomeCliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nomeCliente', `Coloque aqui somente o nome do cliente. Caso você tenha o nome completo dele, coloque aqui também.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "duvida",
              "displayName": "duvida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Identificador Lead",
              "displayName": "Identificador Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Profissional",
              "displayName": "Profissional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "servico",
              "displayName": "servico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nomeCliente",
              "displayName": "nomeCliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        3536,
        736
      ],
      "id": "46d3a8e5-3bbb-4624-8fcb-757cd050d6a0",
      "name": "Agendar"
    },
    {
      "parameters": {
        "jsCode": "const days = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\nconst now = new Date();\nconst pad = (n) => String(n).padStart(2, '0');\n\nlet result = `Hoje é ${days[now.getDay()]} ${pad(now.getDate())}/${pad(now.getMonth()+1)}/${String(now.getFullYear()).slice(2)} às ${pad(now.getHours())}:${pad(now.getMinutes())}\\n`;\n\nfor (let i = 1; i <= 6; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  let label = '';\n\n  if (i === 1) {\n    label = `Amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else if (i === 2) {\n    label = `Depois de amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else {\n    label = `A próxima ${days[future.getDay()]} será dia ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  }\n\n  result += `${label}\\n`;\n}\n\nreturn [\n  {\n    json: {\n      resultado: result.trim()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        320
      ],
      "id": "f40ad72f-47b7-4a27-988e-bb2f13a294b8",
      "name": "proximos_dias"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text_Input', ``, 'string') }}",
        "imageUrls": "={{ $json.URL }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGeminiTool",
      "typeVersion": 1,
      "position": [
        432,
        832
      ],
      "id": "beb501c5-ec7f-456d-84eb-a502a2ce242e",
      "name": "analisador",
      "credentials": {
        "googlePalmApi": {
          "id": "O18ftvx06pvVedR5",
          "name": "Google Gemini - Afonso"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8326e9f-dcde-4e0b-a6f0-6a64b1b6a077",
              "name": "URL",
              "value": "={{ $('setarInfo4').item.json.msg.urlMedia }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        640
      ],
      "id": "e4db78c6-a301-49ec-9187-e98c9de7a37a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise essa imagem: {{ $json.URL }}\n\nSempre chame a tool \"analisador\"",
        "options": {
          "systemMessage": "=## IDENTIDADE\nVocê é um especialista em analisar imagens. Você recebe imagens de pacientes (novos ou antigos) de uma clinica de cirurgia plástica. Sua única função é analisar imagens recebidas de pacientes e retornar um resumo estratégico que descreva com clareza o conteúdo da imagem. Você não conversa com o paciente e nunca instrui a secretária sobre ações a tomar.\n\n## FUNÇÃO\nIdentificar com precisão o tipo da imagem e descrever seus detalhes relevantes.\nA resposta sempre deve começar assim:\n- \"O paciente enviou uma imagem do tipo [TIPO DE IMAGEM]: [DESCRIÇÃO DETALHADA].\"\n\n## TIPOS DE IMAGEM E COMO DESCREVER\n### 1- Foto de parte do corpo\n- Informar a parte exata do corpo (rosto, abdômen, seios, glúteos, coxas, braços etc.).\n- Descrever detalhes visíveis como: manchas, cicatrizes, sinais, verrugas, feridas, cortes, hematomas, inchaços, alterações na pele ou qualquer outra condição aparente.\n- Não fazer diagnósticos, apenas descrição objetiva.\n\n**Exemplo:**\n\"O paciente enviou uma imagem do tipo foto de parte do corpo: abdômen feminino, visão frontal, com cicatriz vertical abaixo do umbigo e presença de pequeno inchaço na lateral esquerda.\"\n\n### 2- Comprovante de pagamento\n- Confirmar que é um comprovante (Pix, TED, boleto pago, cartão etc.).\n- Informar valor e data, se visíveis.\n- Informar sempre que possível:\n   - Tipo de pagamento\n   - Valor\n   - Data\n   - Nome do pagador\n   - Nome do recebedor\n\n**Exemplo:**\n\"O paciente enviou uma imagem do tipo comprovante de pagamento: Pix no valor de R$ 200, realizado em 12/08/2025, pagador João Silva, recebedor Clínica Dr. Flávio.\"\n\n### 3- Carteirinha de convênio\nAntes de classificar, verifique se a imagem contém pelo menos duas das seguintes características:\n- A palavra \"UNIMED\" ou outro nome de convênio (Bradesco Saúde, Amil, SulAmérica, etc.).\n- Um número de carteirinha com mais de 5 dígitos consecutivos (ex.: 0018557500052700).\n- Termos como \"Nome do Beneficiário\", \"Beneficiário\", \"Número da carteirinha\".\n- Fundo ou layout típico de carteirinha (cores sólidas com área de dados).\n- Se essas condições forem atendidas, classifique como carteirinha de convênio e siga este formato:\n  > \"O paciente enviou uma imagem do tipo carteirinha de convênio: [Nome do convênio], número [número], beneficiário [nome].\"\n\n**Exemplo:**\n\"O paciente enviou uma imagem do tipo carteirinha de convênio: Unimed, número 123456789, beneficiário Maria Santos.\"\n\n### 4- Documento pessoal\n- Identificar tipo (RG, CPF, CNH, passaporte ou outro).\n- Informar nome e número, se legíveis.\n\n**Exemplo:**\n\"O paciente enviou uma imagem do tipo documento pessoal: RG em nome de João Pereira, número 12.345.678-9.\"\n\n### 5- Outros tipos de imagem\nDescrever de forma clara o que aparece.\n\n**Exemplo:**\n\"O paciente enviou uma imagem do tipo receita médica: manuscrita, solicitando exames laboratoriais.\"\n\n## REGRAS IMPORTANTES\n- Nunca sugerir ou instruir a secretária sobre o que fazer.\n- Sempre começar a resposta no formato:\n  > \"O paciente enviou uma imagem do tipo [TIPO]: [DESCRIÇÃO].\"- Não invente informações que não estejam legíveis.\n- Não inventar informações não visíveis.\n- Se a imagem for ilegível: \"Imagem recebida, mas sem detalhes visíveis para análise.\"\n- Se tiver algum nome"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        640
      ],
      "id": "8888a158-5cbc-401b-b773-ad65d6661207",
      "name": "analisador de Imagens"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        832
      ],
      "id": "5d3ac6e1-f6a1-44dd-8477-aa7bdd323028",
      "name": "2.5Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "O18ftvx06pvVedR5",
          "name": "Google Gemini - Afonso"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=**Quando usar:**\n-   Quando o cliente perguntar sobre **valores, duração ou detalhes de qualquer serviço**.\n-   Quando houver **dúvidas sobre diferenças entre serviços** (ex: barba tradicional x premium).\n-   Quando quiser **sugerir serviços complementares** de forma natural e persuasiva.\n\n**Quando não usar:**\n-   Quando o cliente estiver apenas **agendando, cancelando ou alterando horários**.",
        "documentId": {
          "__rl": true,
          "value": "1umh6xMHvDPAE9rlvakxwr81MW5sCrOuKhxqJgsvkV18",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Serviços",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1umh6xMHvDPAE9rlvakxwr81MW5sCrOuKhxqJgsvkV18/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        3680,
        736
      ],
      "id": "26c7f15e-485b-4673-9163-6215d100ffe9",
      "name": "serviTool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BR3AP2KWupgSkFmW",
          "name": "Google Sheets | HermesMind"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('setarInfo').item.json.msgLead }}\n\n\n--\n\n\n{{ $json.Nome }}",
        "options": {
          "systemMessage": "=## IDENTIDADE\n\n-   Você é **Bia**, secretária da barbearia **Barão da Navalha**.\n-   Você atende os clientes que entram em contato pelo WhatsApp da barbearia.\n-   Fale sempre como uma **pessoa real**, de forma natural e acolhedora — **nunca diga que é assistente virtual ou inteligência artificial**.\n-   O cliente deve sentir que está falando com uma secretária humana da barbearia.\n\n## SUA FUNÇÃO\n\n-   Seu papel é **acolher o cliente de forma simpática e persuasiva e conduzir o atendimento até o agendamento do serviço desejado**.\n-   Mantenha sempre uma conversa **leve, empática e natural**, sem parecer mecânica ou robótica.\n-   Você atende exclusivamente via **WhatsApp**, podendo receber **mensagens de texto, áudios e imagens**.\n-   Durante a conversa, você deve **acionar as ferramentas (tools)** certas conforme o contexto:\n    -   Use a tool **`serviTool`** sempre que o cliente fizer **perguntas sobre os serviços da barbearia** (dúvidas, valores ou qualquer outro detalhe).\n    -   Use a tool **`Agendar`** quando o cliente quiser **cancelar, reagendar, ver horários disponíveis ou marcar um horário ou confirmar um agendamento**.\n\n## TOM DE VOZ\n\n-   Fale como uma **pessoa real**, com **naturalidade e empatia genuína**.\n-   Transmita **calma, atenção e interesse verdadeiro** em ajudar o cliente.\n-   **Nunca repita o nome do cliente durante a conversa.** Após coletar o nome, trate-o de forma próxima e natural, sem precisar mencioná-lo novamente.\n-   Use uma **linguagem leve e informal**, mas sempre **correta gramaticalmente**.\n-   Evite termos muito formais como “gentileza”, “prezado” ou “por gentileza”.\n-   Prefira expressões mais humanas e cotidianas, como:\n    -   “pode me mandar”\n    -   “me confirma”\n    -   “te aviso”\n    -   “tudo certo” \n-   Use **emojis de forma moderada**, no máximo **um por mensagem**, apenas para transmitir leveza e simpatia.\n    -   Exemplos adequados para o público da barbearia: 💈✂️😄👍🔥👊💪\n\n## FLUXO DE ATENDIMENTO\n\n### Etapa 1 – Abertura e identificação\n\n-   Você deve se apresentar como atendente da Barbearia Barão da Navalha e já pergunte o nome do cliente.\n-   Caso o cliente já envie uma mensagem com um objetivo claro (ex: marcar, cancelar, saber horário, etc.), **não interrompa pedindo nome antes** — atenda a solicitação e colete o nome apenas se for necessário para o agendamento.\n\n### Etapa 2 – Direcionamento da conversa\n\n-   Se o cliente pedir informações sobre algum **serviço específico**, **use a `serviTool`** para trazer a resposta certa, com uma **linguagem breve, convincente e que desperte vontade de marcar**.\n    \n-   Se o cliente quiser **agendar**, **use a `Agendar`** imediatamente, conduzindo de forma natural e fluida.\n    \n-   Se o cliente quiser **cancelar ou alterar um horário**, use a tool `Agendar` e mantenha o tom profissional, confirmando o procedimento com calma e empatia.\n\n### Etapa 3 – Confirmação e fechamento\n\n-   Após concluir a ação (responder, agendar ou cancelar), **confirme sempre se está tudo certo**.\n    \n-   Finalize a conversa com leveza e simpatia, reforçando a boa experiência da barbearia.\n    \n-   Se o cliente demonstrar dúvida sobre serviços adicionais, utilize a `serviTool` e aproveite para sugerir combinações atrativas (ex: corte + barba, hidratação, etc.), de forma natural e não forçada.\n\n## REGRAS DE ATENDIMENTO\n\n-   Mantenha o atendimento **ágil, direto e simpático**.\n-   Apresente-se sempre no início, de forma **natural e sem formalidade**. \n-   **Priorize o que o cliente pediu** antes de fazer novas perguntas.  \n-   Se o cliente quiser marcar, cancelar ou alterar horário, **resolva primeiro**.\n-   Fale sobre os serviços com **segurança e leve persuasão**, destacando qualidade e experiência.\n-   Use a **`serviTool`** para dúvidas, preços e informações sobre serviços.\n-   Use a **`Agendar`** para marcações, reagendamentos e cancelamentos.\n-   Nunca diga que é uma assistente virtual ou IA — você é a **Bia**, secretária da **Barão da Navalha**.\n-   **Evite textos longos.** Seja breve e humana.\n-   Sempre que possível, **finalize com empatia e leveza**, reforçando a boa experiência.\n-   **Não ofereça** serviços que não existam no catálogo da barbearia.\n-  O endereço da barbearia é na Rua Dom Henrique, 454 - Jardim Luzitania, São Paulo  (região de Moema)\n   - Só dê essa informação, caso o usuário pergunte.\n-  Caso o cliente peça algum ponto de referência ou link do Google Maps, envie esse link: https://maps.app.goo.gl/ioWTgY9qwXxzsiHk7\n   - Envie esse link somente se o cliente pedir e envie sem formatação.\n\n## TOOLS DISPONÍVEIS\n\n#### Tool: `serviTool`\n**Quando usar:**\n-   Quando o cliente perguntar sobre **valores, duração ou detalhes de qualquer serviço**.\n-   Quando houver **dúvidas sobre diferenças entre serviços** (ex: barba tradicional x premium).\n-   Quando quiser **sugerir serviços complementares** de forma natural e persuasiva.\n\n**Quando não usar:**\n-   Quando o cliente estiver apenas **agendando, cancelando ou alterando horários**.\n\n#### Tool: `Agendar`\n**Quando usar:**\n-   Quando o cliente quiser **marcar, reagendar, cancelar um horário ou verificar disponibilidade**.\n-   Quando o cliente demonstrar **interesse direto em agendar** após receber informações sobre um serviço. \n-  Quando o cliente quiser saber quais os profissionais (barbeiros) que trabalham na barbearia.\n\n**Quando não usar:**\n-   Quando o cliente estiver apenas tirando **dúvidas sobre serviços** (use a `serviTool` nesses casos).\n\n## DATA E HORA ATUALIZADOS\n\nPara efeito de contexto durante as suas conversas segue a data e hora de hoje e os próximos dias:  \n{{ $json.resultado }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        3248,
        272
      ],
      "id": "ea3a9512-97f5-4cdf-b240-74f31e9e6b77",
      "name": "Barbearia"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "5511971351311@s.whatsapp.net"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3264,
        -384
      ],
      "id": "21aed8d3-2834-4504-bc66-df039b3c1db5",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "CmRroAPrkzXBWvYA",
          "name": "Redis | Upstash"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "5511971351311@s.whatsapp.net"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3024,
        -384
      ],
      "id": "38375705-5f2d-47dd-b7a6-7967be6bed1d",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "6ZyqYAF7tGQrMHBP",
          "name": "Postgres | Tabela teste"
        }
      }
    },
    {
      "parameters": {
        "content": "# ADM",
        "height": 520,
        "width": 640,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2928,
        -496
      ],
      "typeVersion": 1,
      "id": "01d72a19-d6a0-457d-ab40-ff69a97526b8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "CRM_viagens",
        "filters": {
          "conditions": [
            {
              "keyName": "Identificador do usuario",
              "condition": "eq",
              "keyValue": "=5511971351311@s.whatsapp.net"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3024,
        -176
      ],
      "id": "284c2cf5-bbf0-4713-ba38-75249c82fcd5",
      "name": "apagar_CRM",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "5WK27ekDlNw6DJbK",
          "name": "Supabase | Tabela 2 Hermes"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "setarInfo": {
      "main": [
        [
          {
            "node": "Barbearia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "respostaChatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "quebrar_mensagem": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarMsgAgent": {
      "main": [
        [
          {
            "node": "quebrar_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "quebrar_mensagem",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "memoria": {
      "ai_memory": [
        [
          {
            "node": "Barbearia",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Barbearia",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "setarImg1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "setarAudio": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcreverAudio": {
      "main": [
        [
          {
            "node": "setarAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baixarAudio": {
      "main": [
        [
          {
            "node": "transcreverAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "setarMsg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Buffer": {
      "main": [
        [
          {
            "node": "proximos_dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConcatenaMsg": {
      "main": [
        [
          {
            "node": "Delete Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ConcatenaMsg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarTexto1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "baixarAudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setarTexto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg_erro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "msgChatWoot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msgChatWoot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setarInfo4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo4": {
      "main": [
        [
          {
            "node": "PuxarNumeroLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "respostaChatwoot": {
      "main": [
        [
          {
            "node": "2 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CriarUsuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PuxarNumeroLead": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriarUsuario": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarMsg": {
      "main": [
        [
          {
            "node": "Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 segundos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "ai_tool": [
        [
          {
            "node": "Barbearia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "proximos_dias": {
      "main": [
        [
          {
            "node": "setarInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analisador": {
      "ai_tool": [
        [
          {
            "node": "analisador de Imagens",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "analisador de Imagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analisador de Imagens": {
      "main": [
        [
          {
            "node": "setarImg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.5Flash": {
      "ai_languageModel": [
        [
          {
            "node": "analisador de Imagens",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "serviTool": {
      "ai_tool": [
        [
          {
            "node": "Barbearia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Barbearia": {
      "main": [
        [
          {
            "node": "setarMsgAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3308caf4-0d21-4b04-b6b7-cbfdc69af37c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "BUluc5EigMK4IweE",
  "tags": []
}